/*.hero-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}*/

/*Centering content hero-container in css M applied flex box properties to center
appears succesful ? is this what they want for affecting the div?
was the flex box applied correctly or does it need to be a 
separate entity? Is this considered centered horizontally and vertically?*/

/* Changing about me section image: <img src="Images\289.png" alt="Profile Photo" class="aboutme-photo">
was succesful but was this the correct way? will likely be able to tell when 
uploading to its own git repository*/